/* Contenedor de la página para abarcar todo el contenido */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos para el encabezado */
.header-container {
  background-color: #bae1e7;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header-container .column {
  flex: 1;
  text-align: center;
}

.seccion-tres-columnas {
  background-color: #bae1e7;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.seccion-tres-columnas .column {
  flex: 1;
  text-align: center;
}

.seccion-tres-columnas .column input {
  width: 70%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.seccion-tres-columnas .column .tabs {
  display: flex;
  margin-top: 10px;
}

.seccion-tres-columnas .column .tabs span {
  flex: 1;
  background-color: #120101;
  border-radius: 15px;
  text-align: center;
  border: 1px solid #0c010178;
  padding: 5px;
  cursor: pointer;
}

.seccion-tres-columnas .column .tabs span:not(:last-child) {
  margin-right: 5px;
}

.seccion-tres-columnas .column .tabs span a {
  text-decoration: none;
  color: rgb(216, 165, 25);
}

.seccion-tres-columnas .column button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
  border-radius: 50%;
}

.seccion-tres-columnas .column button img {
  max-width: 100%;
  width: 30px;
}

.logo-img {
  width: 85px;
}

.search-button {
  width: 25px;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.izq {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.der {
  flex: 1;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.label {
  margin-bottom: 5px;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #0056b3;
}


.google-button,
.facebook-button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #4285f4; 
}

.facebook-button {
  background-color: #3b5998; 
}

.google-button:hover {
  background-color: #357ae8; 
}

.facebook-button:hover {
  background-color: #2d4373; 
}


